.simple-footer{
    background-color: rgb(129, 59, 70);
}
.simple-navbar{
    background-color: hsl(351, 74%, 70%);
}
.simple-text{
    color: rgb(102, 42, 51);
    background-color: lightpink;
}
.simple.topic{
    text-decoration: double color rgb(77, 21, 60);

}